/* 
--------
template: produstry
author name: CIT
author-email: yasinashraf205@.com
Template Designer: Unknown
version: 1.0.0


-----------------
table of content
__-_-_-__-_

*common css

1. index page css
------------------
1.1)top header section




---------------------
*/

/* common css start */
 :root{
    --primary-color: #ffcf3e;
    --secondary-color: #353535;
    --light-text: #ffffff;
    --linear-fast: all linear .3s;
    --linear-medium: all linear .4s;
    --linear-slow: all linear .5s;
    --paragraph-color: #555;

} 

body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,span,small{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a , a:hover{
    text-decoration: none;
}
.sec_ttl {
    margin: 50px;
}
.sec_ttl h3{
    font-size: 35px;
    color: var(--secondary-color);
    padding: 10px;
    font-weight: lighter;
}
.sec_ttl p{
    font-size: 16px;
    color: #555;
}
/* common css end */
/* top header section start */
 #top_header{
    background: var(--primary-color);
    font-size: 14px;
} 
 #top_header .container,
#top_header .row{
    height: 100%;
} 

 #top_header .top_left_header p{
    font-size: 14px;
    color: var(--secondary-color);
    display: inline-block;
} 
 #top_header .top_left_header p i{
    display: inline-block;
    margin-right: 5px;
}
#top_header .top_mid_header{
    background: var(--secondary-color);
    color: var(--light-text);
    padding: 10px;
    /* clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%); */
    transform: skew(-30deg);
}
 #top_header .top_mid_header p{
    text-align: center;
    transform: skew(30deg);

} 
 #top_header .top_mid_header p span{
    text-transform: uppercase;
} 

 #top_header .top_right_header ul li{
    position: relative;
    margin-right: 18px;
}
#top_header .top_right_header ul li::after,
#top_header .top_right_header ul li::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--secondary-color);
    transform: scale(0);
    top: 0;
    transition: var(--linear-medium);
}
#top_header .top_right_header ul li::after{
    left: auto;
    right: 0;
} 
#top_header .top_right_header ul li a{
    display: block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: var(--secondary-color);
}
#top_header .top_right_header ul li a::after,
#top_header .top_right_header ul li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--secondary-color);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: var(--linear-medium);
}
#top_header .top_right_header ul li a::after{
    top: auto;
    bottom: 0;
}
#top_header .top_right_header ul li:hover::after,
#top_header .top_right_header ul li:hover::before,
#top_header .top_right_header ul li:hover a::after,
#top_header .top_right_header ul li:hover a::before
{
    transform: scale(1.2);     
} 
/* //top header section end */

/* nav section css start */
#nav #main_menu ul li a{
    font-size: 16px;
    color: var(--secondary-color);
}
#nav #main_menu ul li a:hover{
    color: var(--primary-color);
}
#nav ul li{
    position: relative;
    margin-right: 20px;
}

#nav ul li::after,
#nav ul li::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background: var(--primary-color);
    transform: scale(0);
    transition: var(--linear-medium);
}
#nav ul li::after{
    left: auto;
    right: 0;
}

#nav ul li a::after,
#nav ul li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: var(--primary-color);
    transform: scale(0);
    transition: var(--linear-medium);
}
#nav ul li a::after{
    top: auto;
    bottom: 0;
}

#nav ul li:hover::after,
#nav ul li:hover::before,
#nav ul li:hover a::after,
#nav ul li:hover a::before{
    transform: scale(1.2);
}
/* nav section css end */
/* banner section css start */
#banner .banner-slider .banner-slider-item{
    height: 700px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

#banner .banner-slider .banner_arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    z-index: 999;
}
#banner .banner-slider .banner_arrow li{
    position: relative;
}
#banner .banner-slider .banner_arrow li::after,
#banner .banner-slider .banner_arrow li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    transform: scale(1.2);
    transition: var(--linear-medium);
}
#banner .banner-slider .banner_arrow li::after{
    top: auto;
    bottom: 0;
}
#banner .banner-slider .banner_arrow li a::after,
#banner .banner-slider .banner_arrow li a::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    left: 0;
    border: 1px solid #ddd;
    transform: scale(1.2);
    transition: var(--linear-medium);
}
#banner .banner-slider .banner_arrow li a::after{
    left: auto;
    right: 0;
}
#banner .banner-slider .banner_arrow li:hover::after,
#banner .banner-slider .banner_arrow li:hover::before,
#banner .banner-slider .banner_arrow li:hover a::after,
#banner .banner-slider .banner_arrow li:hover a::before{
    border-color: var(--primary-color);
}
#banner .banner-slider .banner_arrow i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}
#banner .banner-slider .banner_arrow i:hover{
    color: var(--primary-color);
}
#banner .banner-slider .banner_arrow.arrow_right{
    left: auto;
    right: 1%;
}
#banner .banner-slider .banner-slider-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

#banner .banner_content h3{
    font-size: 35px;
    color: #fff;
    padding-bottom: 30px;
}
#banner .banner_content h3 span{
    color: var(--primary-color);
}
#banner .banner_content p{
    font-size: 14px;
    color: #ddd;
    padding-bottom: 60px;
}

#banner .banner_content .banner_btn a{
 position: relative;
 padding: 18px 20px;
 background-color: transparent;
 color: #fff;
 transition: var(--linear-medium);
 margin-right: 18px;
 border: 1px solid #ddd;
}
#banner .banner_content .banner_btn a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: transparent;
}
/* banner section css end */
/* service section css start */
#service{
    padding-bottom: 50px;
}
#service .service_item .service_img{
    border: 1px solid var(--secondary-color);
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    margin: 0 auto 60px;
    transform: rotate(-45deg);
    transition: var(--linear-fast);
}
#service .service_item .service_img img{
    transform: rotate(45deg);
}
#service .service_item .service_content{
    padding: 60px 16px;
    border: 1px solid var(--secondary-color);
    text-align: center;
    position: relative;
    transition: var(--linear-fast);
}
#service .service_item .service_content h3{
    font-size: 18px;
    color: var(--secondary-color);
    padding-bottom: 30px;
}
#service .service_item .service_content p{
    font-size: 14px;
    color: var(--paragraph-color);
}
#service .service_item .service_content::before {
	content: '';
	position: absolute;
	border: 2px dashed var(--secondary-color);
	height: 39px;
	bottom: 100%;
	left: calc(50% - 2px);
    transition: var(--linear-fast);
}
#service .service_item:hover .service_img,
#service .service_item:hover .service_content,
#service .service_item:hover .service_content::before{
    border-color: var(--primary-color);
}
/* service section end */
/* about section start */
#about .about_img{
    background: url(../images/aboutbackground.jpg);
    position: relative;
    min-height: 438px;
    background-size: cover;
    background-position: center;
}
#about .about_img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
#about .about_img img {
	position: absolute;
	right: -160px;
	height: 100%;
}

#about .about_content ul.nav-tabs{
    border-bottom: 5px solid  #ddd;
}

#about .about_content ul.nav-tabs button{
    border-color: transparent;
    margin:0 10px 5px 0;
    position: relative;
    color: var(--secondary-color);
}
#about .about_content ul.nav-tabs button::after{
	content: '';
	position: absolute;
	width: 0;
	height: 5px;
	background-color: var(--primary-color);
	left: 0;
	bottom: -11px;
    transition: var(--linear-fast);
}

#about .about_content ul.nav-tabs button:hover::after,
#about .about_content ul.nav-tabs button.active::after{
    width: 100%;
}

#about .about_content .tab-content p{
    font-size: 14px;
    color: #555;
    padding: 38px 0 38px 0;
}
#about .about_content .tab-content button{
    font-size: 16px;
    color: var(--secondary-color);
    background-color: #ddd;
    padding: 20px;
    border: transparent;
    transition: (var(--linear-medium));
}
#about .about_content .tab-content button:hover{
    background-color: var(--primary-color);
}
/* about section end */
/* portfolio css start */
#portfolio{
    padding-bottom: 100px;
}
#portfolio .portfolio_img{
    position: relative;
    z-index: 1;
}
#portfolio .portfolio_img::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: var(--linear-medium);
}
#portfolio .portfolio_img:hover::after{
    opacity: 1;
    visibility: visible;
}
#portfolio .portfolio_img .portfolio_overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92px;
    background-color: rgba(232, 174, 57, .9);
    clip-path: polygon(0 56%, 100% 30%, 100% 100%, 0 100%);
    opacity: 0;
    visibility: hidden;
    transition: var(--linear-medium);
    z-index: 999;
}
#portfolio .portfolio_img:hover .portfolio_overlay{
    opacity: 1;
    visibility: visible;
    height: 174px;
}
#portfolio .portfolio_img .portfolio_overlay .portfolio_content{
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}
#portfolio .portfolio_img .portfolio_overlay .portfolio_content h3{
    font-size: 18px;
    color: var(--secondary-color);
}
#portfolio .portfolio_img .portfolio_overlay .portfolio_content p{
    font-size: 14px;
    color: #555;
}
/* portfolio css end */
/* counterup css start */
#counter_up{
    height: 200px;
    background-color: #02060b;
    color: #fff;
}
#counter_up .counter_up_content h3{
    font-size: 35px;
    font-weight: bold;
}
#counter_up .counter_up_content p{
    font-size: 18px;
}
/* counterup css end */